

@font-face {
    font-family: "GalanoGrotesque";
    src: url("../fonts/galano-grotesque-semi-bold.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "GalanoGrotesque";
    src: url("../fonts/galano-grotesque-semi-bold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "GalanoGrotesque";
    src: url("../fonts/galano-grotesque-semi-bold.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "GalanoGrotesque";
    src: url("../fonts/galano-grotesque.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans-regular.ttf");
  font-weight: 400;
  font-style: normal;
}


