$colorBgMain: #0054a4;
$colorShine: white;

@import "reset";
@import "constclass";
@import "fonts";

/*---------------- Social ------------------*/
.social {
  height: 30px;
  background-color: $colorBgMain;
  &__logo{
    position: absolute;
    z-index: 1;
  }//__logo
  &__icons{
    height: inherit;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & ul{
      display: flex;
      color: $colorShine;
    }// ul
    & li{
      margin-right: 18px;
    } // li
    & a{
      color: $colorShine;
      &:hover{
        opacity: .5;
        transition: .3s;
      }//:hover
    }// a
  }//__icons
}

/*------------------------ Navigation ----------------------*/
.navSection {
  height: 93px;
  background-color: $colorShine;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & nav{
    align-items: center;
    & ul{
      &#horizontal{
        display: flex;
        position: absolute;
        top: 27px;
        left: 300px;
        & li{
          border-radius: 25px;
          line-height: 1;
          &:hover{
            cursor: pointer;
            border: 1px solid $colorBgMain;
            background-color: #eeeeee;
            -webkit-transition: background-color 0.5s;
            -moz-transition: background-color 0.5s;
            -ms-transition: background-color 0.5s;
            -o-transition: background-color 0.5s;
            transition: background-color 0.5s;
          }//:hover
          &:last-child{
            margin-right: 16px;
          }//:last-child
          & a{
            display: block;
            height: 38px;
            padding: 1px 12px;
            font-family: "OpenSans";
            letter-spacing: -0.1px;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.48);
            line-height: 38px;
            &:hover{
              color: $colorBgMain;
              padding: 0 11px;
            }
          }//a
        }//li
      }//#horizontal
    }//ul
  }//nav
}//navSection

.burgerMenu {
  position: relative;
  display: none;
  padding: 5px 5px;
  margin-right: 20px;
  z-index: 500;
  & i{
    padding-top: 5px;
  }// i
  &:hover{
    cursor: pointer;
    color: $colorBgMain;
    & .burgerMenu__items{
      cursor: pointer;
      color: $colorBgMain;
    }//burgerMenu__items
  }//:hover
  &__items{
    display: none;
    position: absolute;
    top: 40px;
    right: 4px;
    z-index: 300;
    background-color: rgba(255, 255, 255, 0.82);
    user-select: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    & ul li a{
      display: block;
      height: 38px;
      padding: 5px 20px;
      font-family: "OpenSans";
      letter-spacing: -0.1px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.48);
      line-height: 38px;
    }// ul li a
    & li a:hover {
      color: $colorBgMain;
      background-color: $colorShine;
    }// li a:hover {
  }//__items
}//burgerMenu

.burgerActiveJS{
  display: block;
  cursor: pointer;
  color: $colorBgMain;
}

.button {
  width: 162px;
  height: 46px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
  font-family: "GalanoGrotesque";
  font-size: 14px;
  color: $colorShine;
  font-weight: 500;
  &__buttonPink{
    position: relative;
    margin-left: 15px;
    top: 3px;
    font-size: 23px;
    color: $colorShine;
  }//__buttonPink
  &:hover{
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }//hover
  &:active{
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
  }//:active
}//button

/*-------------- Slider ---------------------*/

.slider {
  max-width: 100%;
  height: 791px;
  background: url(../img/main-img.jpg) no-repeat center;
  background-size: cover;
  & .wrapper{
    justify-content: center;
    align-items: flex-start;
    & .user-action{
      width: 70%;
      padding-bottom: 100px;
      & .action-header{
        padding-top: 30px;
        & h1{
          width: 70%;
        }// h1
      }// .action-header
      & .action-description {
        font: 1.125em/1.5 "OpenSans";
        color: black;
        margin: 15px 0 28px 0;
        -webkit-transition: font-size .3s;
        -moz-transition: font-size .3s;
        -ms-transition: font-size .3s;
        -o-transition: font-size .3s;
        transition: font-size .3s;
      }// .action-description
      & .action-button {
        display: flex;
        justify-content: flex-start;
        & .button{
          margin-right: 15px;
        }
      }// .action-button
    }// .user-action
  }//.wrapper
}//.slider

/*----------- Main Block ----------------*/

.mainHeader {
  display: flex;
  justify-content: space-between;
  margin-top: -85px;
}

.tabs {
  width: 376px;
  height: 164px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 25px 40px 20px;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }//last-child
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }//hover
  &:active{
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
  }//active
  &__iconSection {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    align-self: center;
    background-color: $colorShine;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    -webkit-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    margin-right: 20px;
  }//__iconSection
  &__textSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $colorShine;
  }//__textSection
  &__headerSection{
    width: inherit;
    font: 26px/1 "Lobster";
    display: flex;
    justify-content: space-between;
    &_headerText{}//_headerText
    &_arrowRight{}//_arrowRight
  }//__headerSection
  &__description{
    width: 95%;
  }//__description
}//tabs

.line {
  width: 94px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.35);
  margin: 10px 0;
}
/*=================Min main header========================================*/
.mainHeaderMin {
  display: none;
  margin-top: -85px;
  align-items: flex-start;
  & .tabs{
    height: 137px;
    min-width: 260px;
    justify-content: flex-start;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 25px;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }//:last-child
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
      transition: all .2s;
    }//:hover
    &:active {
      cursor: pointer;
      -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
      -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    }//:active
  }// .tabs
  & .tabs-header-section {
    width: 100%;
    align-items: flex-start;
  }// .tabs-header-section
  & .tabs-icon-section {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    align-self: center;
    background-color: $colorShine;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    -webkit-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    margin-right: 15px;
  }// .tabs-icon-section
  & .header-text {
    margin-right: 15px;
  }//.header-text
  & .line {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 5px 0 10px 0;
  }//.line
  & .arrow-right {
    margin-left: auto;
  }//.arrow-right
}//mainHeaderMin

/*============================================================*/
/*------------------- About section -------------------*/
.about-section {
  align-items: stretch;
}

.wrapper-about {
  padding: 0 40px;
}

.header-section {
  width: 100%;
  text-align: center;
  align-self: center;
}

.items-img img {
  margin-bottom: 35px;
}

.items-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.items {
  text-align: center;
  cursor: pointer;
}

/*---------------- Calendar section ------------------*/
.see-all {
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: -20px;
  margin-bottom: 20px;
  font-weight: 500;
  & p {
    padding-bottom: 8px;
    border-bottom: 2px solid $colorBgMain;
  }//p
  &:hover p {
    cursor: pointer;
    color: $colorBgMain;
  }//:hover p
}//.see-all

.calendar-items {
  width: 362px;
  height: 584px;
  background-color: $colorShine;
  align-items: center;
  text-align: center;
  border: 1px solid #dddddd;
  border-bottom: none;
  &:hover{
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }//:hover
}//.calendar-items

.img-logo {
  margin-top: -66px;
}

.items-text-description {
  width: 90%;
}

.calendar-button-section {
  width: 100%;
}

.button-calendar {
  height: 56px;
  width: 50%;
  text-transform: uppercase;
  line-height: 56px;
  font-weight: 500;
  box-sizing: border-box;
  &.white {
    border: 1px solid #dddddd;
    &:hover {
      background-color: #dddddd;
      color: #747474;
    }//:hover
    &:active {
      -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
      -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    }//:active
  }//.white
  &.pink:active {
    background-color: #f15b4f;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
  }//.pink:active
  &.pink:hover {
    background-color: #bf3631;
  }//.pink:hover
}//.button-calendar

/*---------------- Video section ----------------*/
.video-items {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }//:last-child
}//.video-items

.vimeo-video {
  margin-bottom: 20px;
  width: 575px;
  height: 320px;
}

/*------------------ News Section ----------------*/
.news-items {
  width: 362px;
  height: 440px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $colorShine;
  border: 1px solid #dddddd;
  &:hover{
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }//:hover
  & .items-text-description {
    padding: 0;
  }// .items-text-description
}//.news-items

.wrapper-items {
  padding: 30px 32px 30px 57px;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.news-button {
  text-transform: uppercase;
  width: 116px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 26px;
  text-align: center;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }//:hover
  &:active {
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
  }//:active
}//.news-button

.news-info-section {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  flex-shrink: 0;
  align-items: center;
  padding: 0 32px 0 57px;
  border-top: 1px solid #dddddd;
  & i {
    font-size: 20px;
    margin-right: 8px;
    font-weight: 400;
    &:last-child {
      margin-right: 0;
    }//:last-child
  }// i
  & p {
    display: inline-block;
  }// p
}//.news-info-section

.refresh {
  margin-left: auto;
}
.comment {
  margin-right: 26px;
}
.likes:hover {
  color: #f15b4f;
}
.comment:hover {
  color: $colorBgMain;
}
.refresh:hover {
  color: black;
}

/*---------------- Volunteer section ----------------------*/
.volunteer-section {
  width: 100%;
  height: 640px;
  background: url("../img/volunteer.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volunteer-main-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 421px;
  height: 400px;
  padding: 51px;
  align-items: center;
  text-align: center;
}
p.fn-lobster{
  line-height: 1;
}

p.Galano-Grotesque {
  font-weight: 400;
}
.volunteer-section p.fs18{
  width: 95%;
}
.volunteer-button {
  margin-top: 30px;
  width: 195px;
  height: 51px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  border: 1px solid $colorBgMain;
  text-transform: uppercase;
  line-height: 45px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
    background-color: $colorBgMain;
    color: $colorShine;
    transition: all .4s;
  }//:hover
  &:active {
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
  }//:active
}//.volunteer-button

/*------------------- Partners Section ---------------*/
.partners-section {
  width: 100%;
  padding: 70px 0;
  align-items: center;
  justify-content: center;
  & .wrapper {
    align-items: center;
    justify-content: center;
    width: fit-content;
  }// .wrapper
}//.partners-section

#slider {
  position: relative;
}
.slider-items {
  user-select: none;
  margin-right: 25px;
  opacity: 1;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

.margin-null {
  margin-left: 0px;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}
.margin-add {
  margin-left: -267px;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}
.scroll {
  position: absolute;
  z-index: 999;
  width: 49px;
  height: 49px;
  color: #a8a8a8;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 49px;
  text-align: center;
  font-size: 28px;
}

#scroll-left {
  top: 45px;
  left: -70px;
}
#scroll-right {
  top: 45px;
  right: -70px;
}
.scroll:hover {
  cursor: pointer;
  color: $colorBgMain;
  border: 1px solid $colorBgMain;
}
.partners-hide {
  display: none;
}
.slider-visible {
  position: relative;
  display: flex;
  width: 1044px;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

/*------------------ Footer ---------------------*/

.footer-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: $colorShine url("../img/footer-bg.jpg") no-repeat ;
  background-size: cover;
  width: 100%;
  height: 420px;
  & .wrapper {
    height: 100%;
  }// .wrapper
}//.footer-section

.footer {
  width: 100%;
  height: 100%;
}
.footer-margin {
  margin-right: 10px;
}
.logo-img img {
  width: 100%;
  height: auto;
}
.copyright {
  width: 100%;
  height: 47px;
  background-color: #003b7b;
  line-height: 47px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.separator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 40px 0;
}
.thick {
  background-color: #659a37;
  width: 54px;
  height: 5px;
}
.thin {
  width: 79px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.logo-img {
  margin-bottom: 50px;
}
.social-icon ul {
  justify-content: center;
}
.social-icon ul li {
  margin: 0 15px;
}
.social-icon ul li a{
  color: $colorShine;
}
.social-icon a:hover {
  opacity: .5;
  transition: .3s;
}

.links a {
  color: rgba(255, 255, 255, 0.5);
  padding: 8px 0;
}
.links ul li {
  margin-bottom: 16px;
}
.links ul li a:hover {
  color: $colorShine;
}
.contact-us {
  flex-basis: 30%;
}
.margin-r10 {
  margin-right: 15px;
  margin-top: -2px;
}
.adress-section {
  justify-content: flex-start;
  margin-bottom: 24px;
}

.adress-info {
  color: rgba(255, 255, 255, 0.51);
  & p {
    margin-bottom: 10px;
  }// p
}//.adress-info

.phone-section {
  justify-content: flex-start;
}
.phone-info {
  color: rgba(255, 255, 255, 0.51);
  margin-top: 3px;
}

.button-signup {
  width: 219px;
  height: 41px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }//:hover
  &:active {
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
  }//:active
}//.button-signup

@import "responsive";